.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#fff;
	color:#25d366;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  transition: .2s;
}
.float:hover {
	text-decoration: none;
	color: #fff;
  background-color:#25d366;
  transition: .2s;
  transform: translateY(-3px) scale(1.05);
}

.my-float{
	margin-top:16px;
}